.chatbox {
  height: 100%;
  width: 80%;
  box-sizing: border-box;
  padding: 1.4rem 1rem;
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.chatbox .chatbox-header {
  width: 100%;
  height: 4.6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
}
.chatbox .chatbox-header .user-profile {
  padding-left: 1rem;
}
.chatbox .chatbox-header .user-profile img {
  height: 40px;
  width: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}
.chatbox .chatbox-header .user-name {
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
.chatbox .chatbox-header .user-name .user-status {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  font-size: 0.9rem;
}
.chatbox .chatbox-header .user-name .user-status .user-status-dot {
  background-color: rgba(0, 255, 0, 0.6666666667);
  height: 6px;
  width: 6px;
  border-radius: 8rem;
}
.chatbox .chatbox-header .user-name .user-status .user-status-dot-offline {
  background-color: rgba(255, 0, 0, 0.6666666667);
  height: 6px;
  width: 6px;
  border-radius: 8rem;
}
.chatbox .chatbox-header .chatbox-icons {
  padding-right: 2rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.chatbox .chatbox-field {
  height: 100%;
  width: 100%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  justify-items: flex-end;
  padding: 0rem 1rem;
  box-sizing: border-box;
  flex-direction: column-reverse;
}
.chatbox .chatbox-field .message-container-main {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  animation: text-loading 0.5s ease-in-out;
}
@keyframes text-loading {
  0% {
    transform: translateY(50px);
    opacity: 0.4;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.chatbox .chatbox-field .message-container-main .message-container {
  justify-content: center;
  width: auto;
  height: auto;
  padding: 0.8rem 4rem 1rem 1rem;
  box-sizing: border-box;
  border-radius: 0.8rem;
  background-color: #3291ff;
  position: relative;
}
.chatbox .chatbox-field .message-container-main .message-container .message-text {
  font-size: 1rem;
}
.chatbox .chatbox-field .message-container-main .message-container .message-container-created {
  position: absolute;
  right: 10px;
  bottom: 6px;
  font-size: 0.8rem;
}
.chatbox .chatbox-field .message-container-main-sender {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.chatbox .chatbox-field .message-container-main-sender .message-container {
  justify-content: center;
  width: auto;
  height: auto;
  padding: 0.8rem 4rem 1rem 1rem;
  box-sizing: border-box;
  border-radius: 0.8rem;
  background-color: #404040;
  position: relative;
}
.chatbox .chatbox-field .message-container-main-sender .message-container .message-text {
  font-size: 1rem;
}
.chatbox .chatbox-field .message-container-main-sender .message-container .message-container-created {
  position: absolute;
  right: 10px;
  bottom: 6px;
  font-size: 0.8rem;
}
.chatbox .chatbox-empty {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.chatbox .chatbox-empty .chatbox-empty-title {
  background-color: rgba(64, 64, 64, 0.3764705882);
  padding: 0.8rem 1.2rem;
  border-radius: 8rem;
  font-size: 0.9rem;
}
.chatbox .chatbox-input {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 4.6rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
}
.chatbox .chatbox-input .chatbox-input-icons {
  padding-left: 2rem;
}
.chatbox .chatbox-input .chatbox-input-field {
  width: 80%;
}
.chatbox .chatbox-input .chatbox-input-field input {
  height: 2rem;
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  color: #e5e5e5;
  font-size: 1rem;
}
.chatbox .chatbox-input .send-icon {
  cursor: pointer;
  padding-right: 2rem;
}/*# sourceMappingURL=chatbox.css.map */