@import "./variables.scss";

.login-screen-main {
    @include flex-col;
    background-color: #1c1c1c;
    height: 100dvh;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 46px;
    color: #FFFFFFAA;

    @include sm {
        gap: 40px;
    }

    .login-screen-main-title {
        img {
            height: auto;
            width: 144px;

            @include sm {
                width: 110px;
            }
        }
    }

    .login-screen-main-description {
        width: 50%;
        text-align: center;
        font-size: 0.95rem;

        @include sm {
            width: 90%;
            font-size: .8rem;
            line-height: 1.1rem;
            text-align: unset;
        }

    }

    .login-screen-main-google {
        padding-top: 1rem;
    }
}